In [1]:
import pandas as pd

In [2]:
sent_df = pd.read_csv('../files/sentences/c02_reuters_sentence_pool.csv')

In [3]:
RANDOM_STATE = 42

# Sample 01: 200 instances (randomly chosen)

In [4]:
# save a subset of 200 instances for experiments

sent_sample = sent_df.sample(n=200, random_state=RANDOM_STATE)

In [5]:
sent_sample.head()

,Unnamed: 0,sentences,source,article_id
36565,36565,WPP has made a big bet on data with its Kantar...,Reuters,7986
5061,5061,There is no indication that Fiat Chrysler inte...,Reuters,1130
43041,43041,"As a group, their capex plans are down by $21....",Reuters,9479
98691,98691,"This not only costs Microsoft in lost revenue,...",Reuters,15269
92439,92439,"""We think the 801 multiplier is disingenuous, ...",Reuters,14762

In [6]:
# save sample to csv file

sent_sample.to_csv('../files/sentences/samples/s01_reuters_sample200.csv')

In [7]:
# take previous sample out of the database
sent_df = sent_df.drop(sent_sample.index)

# Sample 02: 800 instances (randomly chosen)

In [8]:
# get a new sample

sent_sample2 = sent_df.sample(n=800, random_state=RANDOM_STATE)

In [9]:
# save sample to csv

sent_sample2.to_csv('../files/sentences/samples/s02_reuters_sample800.csv')